<h1> Caluclate the suqare root of a number </h1>



<form action="/square_root/results">

<label for="number_root">Enter a number </label>
<input id="number_root" type="text" name="users_number_root">

<button>Calculate square root</button>

</form>
