<h1> Caluclate the suqare of a number </h1>



<form action="/square/results">

<label for="users_number">Enter a number </label>
<input type="text" name="users_number">

<button>Claculate square</button>

</form>
