<h1> Get a payment calculation </h1>



<form action="/payment/results">

<label for="apr">Enter the annual percentage rate </label>
<input id="apr" type="text" name="users_apr">

<label for="remaining_years">Enter the number of years remaining </label>
<input id="remaining_years" type="text" name="users_years">

<label for="present_value">Enter the present value</label>
<input id="present_value" type="text" name="users_pv">

<button>Get your payments</button>

</form>
