<h1> Payment Results </h1>

<dl>
  <dt>
  Annual Percentage Rate (APR)
  </dt>
  <dd>
  <%=@apr_%>
  </dd>

  <dt>
  Remaining Years
  </dt>
  <dd>
  <%=@years_%>
  </dd>

   <dt>
  Present Value
  </dt>
  <dd>
  <%=@present_value%>
  </dd>

  <dt>
  Payment
  </dt>
  <dd>
  <%= @result_payment%>
  </dd>
</dl>

<a href="/payment/new">
Calculate another payment
</a>
