<h1> Random Results </h1>

<dl>
  <dt>
  Lower bound
  </dt>
  <dd>
  <%=@min_rand%>
  </dd>

  <dt>
  Upper bound
  </dt>
  <dd>
  <%=@max_rand%>
  </dd>

  <dt>
  Random
  </dt>
  <dd>
  <%= @result_rand%>
  </dd>
</dl>

<a href="/random/new">
Calculate another random number
</a>
