<h1> Get a random number </h1>



<form action="/random/results">

<label for="number_random_min">Enter a lower bound </label>
<input id="number_random_min" type="text" name="users_min">

<label for="number_random_max">Enter an upper bound </label>
<input id="number_random_max" type="text" name="users_max">

<button>Get random number</button>

</form>
